<sly data-sly-use.model="com.brumacafe.core.models.ArticleInfoModel"
     data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html">

    <div class="cmp-article-info" data-sly-test="${model.formattedDate || wcmmode.edit}">
        <sly data-sly-test="${model.formattedDate}">
            <span class="cmp-article-info__date">${model.formattedDate}</span>
            <span class="cmp-article-info__separator"> &middot; </span>
            <span class="cmp-article-info__reading-time">${model.readingTime} min de leitura</span>
        </sly>
        <sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!model.formattedDate}"></sly>
    </div>
</sly>
