<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='brumacafe.base'}"/>
</sly>

<sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}"/>


<meta property="og:title" content="${currentPage.pageTitle || currentPage.title}" />

<sly data-sly-test.desc="${currentPage.description}">
    <meta name="description" content="${desc}" />
    <meta property="og:description" content="${desc}" />
</sly>

<sly data-sly-test.image="${properties['image/fileReference']}">
    <meta property="og:image" content="${image}" />
</sly>

<meta property="og:url" content="${request.requestURL}" />
<meta property="og:type" content="website" />