<sly
  data-sly-use.mainBanner="com.brumacafe.core.models.MainBannerModel"
  data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
>
</sly>

<sly
  data-sly-call="${clientlib.css @ categories='brumacafe.components.main-banner'}"
>
</sly>

<section
  class="cmp-main-banner"
  role="region"
  aria-label="Banner Principal"
>
  <div
    class="cmp-main-banner__media"
    data-sly-test="${mainBanner.fileReference}"
  >
    <img
      class="cmp-main-banner__image"
      src="${mainBanner.fileReference}"
      alt="${mainBanner.alt}"
      fetchpriority="high"
      loading="eager"
    />
  </div>

  <div class="cmp-main-banner__content">
    <h1 class="cmp-main-banner__title" data-sly-test="${mainBanner.title}">
      ${mainBanner.title}
    </h1>

    <p
      class="cmp-main-banner__description"
      data-sly-test="${mainBanner.description}"
    >
      ${mainBanner.description}
    </p>

    <a
      class="cmp-main-banner__button"
      data-sly-test="${mainBanner.buttonVisible}"
      href="${mainBanner.buttonLink}"
      rel="noopener noreferrer"
    >
      ${mainBanner.buttonText}
    </a>
  </div>
</section>
