<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='brumacafe.external'}"/>
</sly>

<sly data-sly-use.vitrine="com.brumacafe.core.models.ShowExternalProductModel">
    
    <div class="external-products-container" data-sly-test="${vitrine.configured}">
        <div>
            <h2>Produtos em Destaque</h2>
        </div>

        <div class="product-card-container" data-sly-list.item="${vitrine.produtos}">
            <div class="product-card">
                <div>
                    <img src="${item.thumbnail @ context='uri'}" alt="${item.title}" />
                </div>
                <div class="product-info">
                    <h3>${item.title}</h3>
                    <div class="product-price-link-block">
                        <span>$ ${item.price}</span>
                        <a href="#">Conferir Aqui!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cq-placeholder" 
         data-emptytext="Vitrine da Loja - Em Breve!" 
         data-sly-test="${!vitrine.configured}"></div>

</sly>